.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

.idea

.idea/caches/build_file_checksums.ser


 # === JetBrains / RustRover ===
 .idea/
 *.iml

 # === OS/System files ===
 .DS_Store
 Thumbs.db