.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

.idea

.idea/caches/build_file_checksums.ser


 # === JetBrains / RustRover ===
 .idea/
 *.iml

 # === OS/System files ===
 .DS_Store
 Thumbs.db

 # Elixir build artifacts
 /_build
 /deps
 /cover
 /doc
 /.elixir_ls
 /.elixir-tools

 # Phoenix specific
 /node_modules
 /priv/static/assets
 /priv/static/cache_manifest.json

 # Mix lockfiles (keep if you want exact versions in CI)
 # /mix.lock

 # System files
 *.swp
 *.swo
 *.tmp
 *.bak

 # IDE/editor
 .vscode/
